:root {
  --background-color: #f0f2f5;
  --primary-color: white;
  --second-color: #142c8e;
  --white-color: white;
  --blue-color: #0070e0;
  --black-color: #000000;
  --card-size: 345px;
  --add-to-cart: #ffd814;
  --add-to-cart-hover: #ffe000;
  --font-family: "UbuntuNerdFont-Light";
  --bold-font-family: "UbuntuNerdFont-bold";
}

@font-face {
  font-family: "UbuntuNerdFont-bold";
  src: url("./components/UbuntuNerdFont-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuNerdFont-Light";
  src: url("./components/UbuntuNerdFont-Light.ttf") format("truetype");
}

.normal-text {
  font-family: "UbuntuNerdFont-Light";
}

.bold-text {
  font-family: "UbuntuNerdFont-bold";
}

div.bold-text > span {
  font-family: "UbuntuNerdFont-bold";
}

body {
  font-family: "UbuntuNerdFont-Light" !important;
  overflow-x: hidden;
  margin: 0px;
  display: flex;
  background-color: var(--background-color);
  color: black;
}

.navBarPositionTop {
  position: absolute;
  top: 0px;
  color: var(--black-color);
}

.cartLogout {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: var(--white-color);
}

a:visited {
  text-decoration: none;
}

a:link {
  color: var(--second-color);
}

.NavBarLinks {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1.1rem;
  color: black;
}

.active {
  color: var(--white-color);
  background-color: var(--second-color);
  border-radius: 5px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.menuStyle {
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.brandNameLastSection {
  color: var(--blue-color);
}

a.iconBrandName {
  display: none;
  align-items: center;
  visibility: hidden;
}

.logoBrand {
  color: var(--second-color);
}

.test {
  position: relative;
}

/****************************************************************
                        LOGIN
****************************************************************/

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoginForm {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignItemCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2.8px 2.2px #00000009, 0 6.7px 5.3px #0000000c,
    0 12.5px 10px #0000000f, 0 22.3px 17.9px #00000012,
    0 41.8px 33.4px #00000016, 0 100px 80px #0000001f;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--white-color);
  padding-bottom: 42px;
}

.registerTopPosition {
  position: relative;
  top: 48px;
}

.linkStyle {
  text-decoration: none;
  color: #2279a7;
  transition-duration: 0.4s;
}

.linkStyle:hover {
  text-decoration: underline;
}

.loginTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.registerTitle {
  margin-top: 20px;
}

.divider-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.divider-line {
  height: 1px;
  background-color: #ccc;
  width: 116px;
}

.divider-text {
  margin: 0 10px;
  color: #888;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
}
/****************************************************************
                       Register
****************************************************************/
.names {
  display: flex;
}

div.sinupBar {
  display: flex;
  align-items: center;
}
/****************************************************************
                       BUTTON
****************************************************************/

.Button {
  height: 50px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}

.submit {
  background-color: var(--second-color);
  color: var(--white-color);
}

.submit:hover {
  background-color: var(--blue-color);
}

.ContainerButton {
  display: flex;
}

.orSignupLogin {
  background-color: var(--white-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  width: 450px;
  max-width: 60%;
}

.orLoginSignup {
  max-width: 80%;
}

.orSignupLogin:hover {
  box-shadow: inset 0 0 0 0.0625rem var(--second-color);
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContainerButton > a:hover {
  text-decoration: none;
}

.alertStyleBox {
  width: 100%;
  position: fixed;
  align-content: center;
  display: grid;
  justify-content: center;
  top: 120px;
  z-index: 44;
}

button.buttonFilterPrice {
  margin-bottom: 17px !important;
}

.payButton {
  width: 118px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applePay {
  background-color: var(--black-color);
  color: var(--white-color);
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.applePay:hover {
  background-color: #454545;
  cursor: pointer;
}

.googlePay {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--white-color);
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.googlePay:hover {
  border-color: var(--black-color);
  cursor: pointer;
}

.PaypalPay {
  background-color: var(--add-to-cart);
  color: var(--black-color);
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.PaypalPay:hover {
  background-color: var(--add-to-cart-hover);
  cursor: pointer;
}

.orderHistoryButton {
  padding: 10px;
  background-color: var(--second-color);
  border-radius: 7px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.orderHistoryButton:hover {
  background-color: var(--blue-color);
}

/****************************************************************
                        PRODUCTS
****************************************************************/

div.containerTopProducts {
  margin-top: 10px;
}

.ratingProduct {
  display: flex;
  align-items: center;
}

.blue-style {
  color: var(--blue-color);
  font-size: 0.7rem;
}

.productImagen {
  width: 100%;
  max-height: 240px;
  object-fit: contain !important;
}

.positionCenter {
  display: flex;
  justify-content: center;
  max-width: var(--card-size) !important;
  min-width: var(--card-size) !important;
}

.ProductDetail {
  max-width: var(--card-size);
  min-width: var(--card-size);
}

.titleProduct {
  max-width: 300px;
  height: 68px;
  overflow-y: hidden;
}

.imageBox {
  height: 250px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.price {
  font-size: 1.2rem;
}

.button {
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAddCart {
  color: var(--black-color) !important;
  background-color: var(--add-to-cart);
  width: 152px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  height: 50px;
  font-family: "UbuntuNerdFont-bold";
  margin-top: 20px;
}

.buttonAddCart:hover {
  background-color: var(--add-to-cart-hover);
}

.filterButton {
  margin-top: 154px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

button.filterProductButton {
  margin-right: 100px;
}

.filterRating {
  font-size: 0.7rem;
  font-family: var(--bold-font-family);
}

/****************************************************************
                        SINGLE PRODUCT
****************************************************************/
div .conatinerSingleProduct,
div .errorContainerSingleProduct {
  width: 100%;
  display: flex;
  justify-content: center;
}

div .conatinerSingleProduct {
  margin-top: 180px;
}

div.imagenSingleProduct {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

div .singleCardProduct {
  padding: 20px;
  border-radius: 11px;
  display: flex;
  width: 900px;
  flex-direction: column;
}

div .singleProductInfo {
  margin-left: 20px;
}
div .titleSingleProduct,
div .priceSingleProduct {
  font-family: "UbuntuNerdFont-bold";
}

div.categorySingleProduct {
  margin-bottom: 10px;
}

img.imagenSingle {
  object-fit: contain;
  height: inherit;
}

hr {
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #bbbfbf;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
}

div .errorContainerSingleProduct {
  flex-direction: column;
  align-items: center;
}

#sorry {
  font-size: 8rem;
  font-family: var(--font-family);
}

#productnotfound {
  font-size: 2rem;
  font-family: var(--font-family);
}

#homePageError {
  color: var(--second-color);
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#homePageError:hover {
  text-decoration: underline;
}

.displayBlock {
  display: flex;
}

.displayNone {
  display: none;
}

.TESTING:empty + .displayNone {
  display: none;
}

.imgDescription {
  display: flex;
  flex-direction: row;
}

.customerReviews {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
/****************************************************************
                        CART
****************************************************************/
.shoppingCart {
  margin-top: 100px;
}

img.imagenCart {
  width: 100px;
}
div.cartContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

div.cartContainerColumn {
  display: flex;
  flex-direction: row;
}

div .cardProduct {
  padding: 20px;
  border-radius: 11px;
  display: flex;
  max-width: 514px;
  margin-top: 10px;
}

div .cartProductInfo {
  margin-left: 20px;
  width: 100%;
}

svg.deleteProduct:hover {
  cursor: pointer;
}

div.cartSingleProduct {
  margin-top: 10px;
}

div.subtotal {
  margin-left: 20px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

div.sizeContainerCard {
  width: 500px;
}

div.cartSubtotal {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-direction: row;
}
div.subtotal > div.cartSubtotal:nth-of-type(2) {
  margin-top: 10px;
}

div.totalInfo {
  width: 250px;
}

div.amount {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

div.containerSubtotalCart {
  width: 350px;
}

.checkoutCart {
  width: 100%;
  margin-bottom: 20px;
}

a.linkCartProduct {
  color: var(--black-color);
}

a.linkCartProduct:hover {
  text-decoration: underline;
}

.tankYouShopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.tankYouShopping > h1 {
  margin-bottom: 0px;
  color: var(--second-color);
  font-size: 2.5rem;
  font-family: var(--bold-font-family);
}

.tankYouShopping > p:first-child {
  margin-bottom: 0px;
}

.tankYouShopping > p:last-child {
  margin-top: 0px;
  margin-bottom: 40px;
}

.imagenSingleProductOrderHistory {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****************************************************************
                        MENU
****************************************************************/

div.mobileView {
  display: none;
}

div.categoryList {
  width: 100%;
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

a.categoryLink {
  margin: 20px;
}

a.categoryLink:visited {
  color: var(--second-color);
}

a.categoryLink:hover {
  text-decoration: underline;
}

input[type="text"].SearchInput {
  height: 31px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 20px;
}

/****************************************************************
                        FOOTER
****************************************************************/
.containerPage {
  position: relative;
  min-height: 69.2vh;
}

div.DivFooterLink {
  width: 40px;
}

a.footerLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: var(--black-color);
  font-family: var(--bold-font-family);
}

a.footerLink:hover {
  text-decoration: underline;
}

.hrFooter {
  width: 100%;
  height: 1px;
  border-top: 1px solid #bbbfbf;
}

.loginConatinerFooter {
  margin-top: 133px;
}

/****************************************************************
                        CHECKOUT
****************************************************************/
.expressCheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 110px;
  margin-bottom: 30px;
}

.titleExpress {
  position: relative;
  margin-top: 0px;
  top: 30px;
  padding-inline: 10px;
  background-color: var(--background-color);
}

.checkoutContainerColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.containerCheckoutList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quickpay {
  display: flex;
  flex-direction: row;
  padding: 30px;
  border: 1px solid black;
}

.payButton:first-child {
  margin-right: 10px;
}

.payButton:last-child {
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  height: 36px;
}

div.DisplayCard {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.radioStyleAddress {
  background-color: var(--white-color);
  min-width: 100%;
  border-radius: 7px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.radioStyleAddress:first-child {
  margin-bottom: 10px;
}

.nameAdddressStyle {
  height: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/****************************************************************
                        ORDER HISTORY
****************************************************************/
.orderReverse {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 150px;
}

.reviewLink {
  color: var(--black-color);
}

.reviewLink:hover {
  text-decoration: underline;
}

.reviewCart {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.textareaReview {
  border-radius: 5px;
  background-color: transparent;
  padding: 16.5px 14px;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  margin: 0;
  display: block;
  min-width: 0;
  width: -webkit-fill-available;
}

.normalTextareaReview {
  border: 1.4px solid #b8b7b7;
}
.errorTextareaReview {
  border: 1.4px solid #d32f2f;
}

/****************************************************************
                        SMARTPHONE
****************************************************************/
@media (min-width: 320px) and (max-width: 767px) {
  a.iconBrandName {
    visibility: visible;
    display: flex;
  }

  .NavBarLinks {
    color: var(--black-color);
  }

  .active {
    color: var(--white-color);
  }

  .registerForm {
    top: 84%;
  }

  #sorry {
    font-size: 4rem;
  }

  #productnotfound {
    font-size: 1rem;
  }

  img.imagenSingle {
    width: 160px;
  }

  div .singleCardProduct {
    flex-direction: column;
  }

  div.categorySingleProduct {
    margin-top: 20px;
  }

  div.cartContainerColumn {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  div.containerCartList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div .cardProduct {
    width: 312px;
  }

  div.sizeContainerCard {
    width: auto;
  }

  div.titleSingleProductCart {
    display: flex;
  }

  div.subtotal {
    margin-left: 0px;
  }

  div.mobileView {
    margin-top: 160px;
    padding-inline: 26px;
    display: flex;
    justify-content: center;
  }

  div.conatinerSingleProduct {
    margin-top: 20px;
  }

  div.categoryList {
    scrollbar-width: thin;
    overflow-x: scroll;
    justify-content: flex-start;
  }

  div.containerTopProducts {
    margin-top: 20px;
  }

  .mobileView > input {
    width: 80%;
  }

  div.cartContainer {
    margin-top: 0px;
  }

  .shoppingCart {
    margin-top: 0px;
  }

  .displayNot {
    display: none !important;
  }

  .containerForm {
    top: 50%;
  }

  .registerTopPosition {
    top: 0px;
  }
  .filterButton {
    margin-top: 10px;
  }

  button.filterProductButton {
    margin-right: 50px;
  }

  a.footerLink {
    justify-content: center;
    height: 25px;
    align-items: center;
  }

  .loginConatinerFooter {
    margin-top: 0px;
  }

  .checkoutContainerColumn {
    flex-direction: column;
  }

  div.DisplayCard {
    flex-direction: column;
  }

  .imgDescription {
    flex-direction: column;
  }
}

/****************************************************************
                            TABLET
****************************************************************/

@media (min-width: 768px) and (max-width: 1040px) {
  a.iconBrandName {
    visibility: visible;
    display: flex;
  }

  .NavBarLinks {
    color: var(--black-color);
  }

  .active {
    color: var(--white-color);
  }

  div .singleCardProduct {
    flex-direction: column;
  }

  div.categorySingleProduct {
    margin-top: 20px;
  }

  div.cartContainerColumn {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  div.containerCartList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div .cardProduct {
    width: 312px;
  }

  div.card {
    border-color: var(--white-color) !important;
  }

  div.sizeContainerCard {
    width: auto;
  }

  div.titleSingleProductCart {
    display: flex;
  }

  div.mobileView {
    display: flex;
    margin-top: 140px;
    padding-inline: 26px;
    justify-content: center;
  }

  .filterButton {
    margin-top: 10px;
  }

  input[type="text"].SearchInput {
    width: 500px;
  }

  button.filterProductButton {
    margin-right: 73px;
  }

  a.footerLink {
    justify-content: center;
    height: 25px;
    align-items: center;
  }

  div.cartContainer {
    margin-top: 0px;
  }

  .shoppingCart {
    margin-top: 20px;
  }
}
